.home {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the content horizontally */
  justify-content: flex-start; /* Align the content to the top of the container */
  padding-top: 20px; /* Add some top padding for spacing */
}

.hamburger-menu {
  display: flex;
  align-self: center; /* Center align the menu horizontally */
  margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.material-icons {
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center align the buttons horizontally */
}

li {
  margin: 0 10px; /* Add some horizontal spacing between the buttons */
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.is-hidden{
  display: none;
}

.product-link {
  width: calc(25% - 20px);
  margin: 10px;
  text-decoration: none;
  color: black; /* Set the text color to black */
}

.product-link .product-card {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

.product-link .product-card h4 {
  margin-bottom: 10px;
  color: black; /* Set the text color to black */
}

.product-link .product-card p {
  margin-bottom: 20px;
  color: black; /* Set the text color to black */
}

.product-link .product-card img {
  max-width: 100%;
  height: auto;
}


.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align the grid horizontally */
  max-width: 1000px; /* Adjust the maximum width of the grid as needed */
  margin-top: 20px; /* Add some top margin for spacing */
}

.product-card {
  width: calc(25% - 20px); /* 4 products per row (25% width) with spacing between them */
  margin: 10px; /* Add spacing around the product cards */
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

.product-card h4 {
  margin-bottom: 10px;
}

.product-card p {
  margin-bottom: 20px;
}

.product-card img {
  max-width: 100%;
  height: auto;
}
